@import url("https://fonts.googleapis.com/css2?family=Fondamento&display=swap");

:root {
    background-color: #80ffd4;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Fondamento", cursive;
    color: black;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-content: center;
}

.container {
    width: 70%;
    height: 100vh;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 25px;
    margin: 20px 0;
}

.btn {
    text-transform: uppercase;
    background: #ffffff;
    color: black !important;
    padding: 15px;
    border: 5px solid black !important;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-size: 25px;
    outline: none;
}

.btn:hover {
    cursor: pointer;
    color: #20bf6b !important;
    border-radius: 50px;
    border-color: black !important;
    transition: all 0.3s ease 0s;
    font-size: 25px;
    outline: none;
}

.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px 20px;
}

.ctr {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

#main {
    padding-top: 100px;
    justify-content: space-between;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timercounter {
    display: flex;
    font-size: 1.5rem;
    padding-top: 50px;
    justify-content: space-between;
} 